/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap'); */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    /* font-family: 'Playfair Display', serif; */
    display: grid;
    background-color: #4158D0;
    background-image:  url("bg.jpeg"); 

    align-content: center;
    min-height: 100vh;
}
nav{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 90vh;
    width: 90vw;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 19px
}
.pos{
    font-size: 50px;
}
.image{
    background-color: #12192c;
    display: flex;
    border-radius: 12px 0 0 12px;
}
.image img{
height:50vh;
margin:50px auto
}
.content{
    background-color: #12192c;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 0  12px 12px 0;
    color: #fff;
}
.content h2{
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 6px;
    opacity: 0.9;
}
.content span{
    height: 0.5px;
    width: 80px;
    background: #777;
    margin: 30px 0;
}
.content p{
    padding-bottom: 15px;
    font-weight: 300;
    opacity: 0.7;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.7;
    color:#ffffff
}
.links{
    margin: 15px 0;
}
.links li{
    border: 2px solid #4158D0;
    list-style: none;
    border-radius: 5px;
    padding: 10px 15px;
    width: 160px;
    text-align: center;
}
.links li a{
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}
.links li:hover{
    border-color: #C850C0;
}

.horizontal-line{
    height: 30px;
    width: 3px;
    background: #C850C0;
    margin: 0 auto;
}
.icons{
    display: flex;
    padding: 15px 0;
}
.icons li{
    display: block;
    padding: 5px;
    margin: 5px;
}
.icons li i{
    font-size: 26px;
    opacity: 0.8;
}
.icons li i:hover{
    color: #C850C0;
    cursor: pointer;
}
.team-member {
	padding-top: 5px;
	margin-bottom: 15px;
}
.team-heading {
	display: block;
	width: 100%;
}
.member-img {
	overflow: hidden;
}
.member-img img {
	border-radius: 0px; 
}
.team-socials {
	margin: 15px 0;
	display: block;
	text-align: center;
}
.team-socials i {
	width: 35px;
	height: 35px;
	position: relative;
	display: inline-block;
	text-align: center;
	font-size: 18px;
	color: #C7C7C7;
}
.team-socials i:hover {
	color: #f11d25;
}
.team-member h4 {
	font-size: 19px;
	line-height: 32px;
	padding: 10px 0 0;
	text-align: center;
	margin: 0px;
}
.team-member .pos {
    font-size: 18px;
    font-weight: bold;
	display: block;
	margin: 0;
	text-align: center;
}
#head.secondary {
	height: 300px;
	min-height: 300px;
	padding-top: 0px;
	background: #181015 url(../images/bg_header.jpg) 0px -270px no-repeat;
	/* background: #f11d25; */
	background-size: cover;
	text-align: left; 
}
#head.secondary h1{
 height: 300px;
    line-height: 390px;
    COLOR: #F9E7C2;
}



/*******/

@media(max-width: 900px){
    section{
        grid-template-columns: 1fr;
        width: 100%;
        border-radius: none;
    }
    .image{
        height: 100vh;
        border-radius: none;
    }
    .content{
        height: 100vh;
        border-radius: none;
    }
    .content h2{
        font-size: 20px;
        margin-top: 50px;
    }
    .content span{
        margin: 20px 0;
    }
    .content p{
        font-size: 14px;
    }
    .links li a{
        font-size: 14px;
    }
    .links{
        margin: 5px 0;
    }
    .links li{
        padding: 6px 10px;
    }
    .icons li i{
        font-size: 15px;
    }
}
.credit{
    text-align: center;
    color: #000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .credit a{
    text-decoration: none;
    color:#000;
    font-weight: bold;
  }



  .footer {
    height: 65px;
    background-color: #2b363e;
    color: white;
    position: relative;
  }
  .social-media{
    font-size: 35px;
    color: #777;
    background: #ede3f7;
    display:flex;
    justify-content: center;
    
}



a1{ /*outside button*/
    display: flex;
    height: 50px;
    width: 50px;
    margin: 0 10px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15), -6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid rgba(0,0,0,0.01);
    transition: 0.1s all;
}

a1 i1{
  transition: 0.1s all;
}

a1:hover i1{/*inside icons move*/
    transform: scale(0.80);
}
a1:hover .fa-facebook{
    color: blue;
}
a1:hover .fa-whatsapp{
    color: green;
}
a1:hover .fa-instagram{
    color:crimson
}
a1:hover .fa-twitter{
    color: skyblue
}
a1:hover .fa-linkedin{
    color: blue
}



.social-media2{
  font-size: 20px;
  display:flex;
  justify-items: center;
  justify-content: center;
  align-content: center;
  color:#D3D3D3
}

a10{ /*outside button*/
    justify-items: center;
    justify-content: center;
    align-content: center;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    border-radius: 8px;
    
    border: 1px solid rgba(0,0,0,0.01);
    transition: 0.1s all;
}

a10 i1{
  transition: 0.1s all;
}

a10:hover i1{/*inside icons move*/
    transform: scale(0.80);
}
a10:hover .fa-facebook{
    color: blue;
}
a10:hover .fa-github{
    color: darkgrey;
}
a10:hover .fa-instagram{
    color:crimson
}
a10:hover .fa-twitter{
    color: skyblue
}
a10:hover .fa-linkedin{
    color: blue
}
a10:hover  .fa-google-plus{
    color: red;
}

